* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 244, 244);
}

header {
    padding: 8px;
    display: flex;
    align-items: center;
}
.background-header {
    background-color: white;
}

#logo {
    margin-left: 15px;
    margin-right: 5px;
}
#logo-title {
    display: inline-block;
}

#main-container {
    background-color: rgb(37, 10, 10);
    margin: 30px auto;
    width: 70%;
    height: 500px;
    border-radius: 5px;
}