* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
}

.background-white {
    background-color: white;
}

/* header */
header {
    padding: 8px;
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 15px;
    margin-right: 5px;
}

#logo-title {
    display: inline-block;
}

/* main */
#main-container {
    margin: 30px auto;
    width: 70%;
    height: 500px;
    border-radius: 5px;
}

/* button section */
#buttons-div {
    padding: 8px 40px;
    border-bottom: 3px solid rgb(233, 233, 233);
    border-radius: 5px 5px 0 0;
}

.buttons {
    font-weight:500;
    font-size: 10px;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
}

#button-1 {
    background-color: rgb(0, 167, 223);
    color: white;
    border: none;
}

#button-2 {
    background-color: white;
    color: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
}

/* todolist section */
#todolist {
    padding-left: 40px;
    margin-top: 15px;
}

summary {
    font-weight:bold;
}

details p {
    font-size: 15px;
    margin-top: 10px;
}

.list-category {
    margin-bottom: 20px;
}

/* entities */
.check-entity {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 5px;
}

.x-entity {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 5px;
} 

/* labels */
.labels {
    font-size: 10px;
    color: white;
    border-radius: 10px;
    padding: 5px 8px;
}

.editorial {
    background-color: rgb(68, 158, 248);
}

.goals {
    background-color:darkorchid;
}

.recruiting {
    background-color: rgb(3, 172, 135);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: yellowgreen;
}